/*/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
//
//
*/

.cssA3xaIconShadow {border: 0; width:24px; height:24px; box-shadow: 1px 1px 0px #404040;}

.cssA3xaIcon {border: 0; width:24px; height:24px; }

.cssA3xaIcon2Shadow {border: 0;  width:24px; height:16px; box-shadow: 1px 1px 0px #404040;}

.cssA3xaIcon2 {border: 0; width:24px; height:16px; }




/*/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// DUMMY ABSTRACTION LAYER 
//
*/





/*/////////////////////////////////////////////////////////////////
// Dummy Abstraction Layer Plugin Magnific Popup
//
*/

html, body {
  margin: 0;
  padding: 2px;
  -webkit-backface-visibility: hidden;
}


/* text-based popup styling */
.white-popup 
{
  position: relative;
  background: #FFF;
  padding: 2px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
}

/*////////////////////////////
// Abstraction Layer Plugin Magnific Popup
// 3d UNFOLD
*/

.mfp-3d-unfold 
{
  /* start state */
  /* animate in */
  /* animate out */
}

.mfp-3d-unfold .mfp-content 
{
  perspective: 2000px;
}

.mfp-3d-unfold .mfp-with-anim 
{
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}

.mfp-3d-unfold.mfp-bg 
{
  opacity: 0;
  transition: all 0.5s;
}

.mfp-3d-unfold.mfp-ready .mfp-with-anim 
{
  opacity: 1;
  transform: rotateY(0deg);
}

.mfp-3d-unfold.mfp-ready.mfp-bg 
{
  opacity: 0.8;
}

.mfp-3d-unfold.mfp-removing .mfp-with-anim 
{
  transform: rotateY(60deg);
  opacity: 0;
}

.mfp-3d-unfold.mfp-removing.mfp-bg 
{
  opacity: 0;
}

/*
// Abstraction Layer Plugin Magnific Popup
// endof 3d UNFOLD
//////////////////////////////*/






/*////////////////////////////
// Abstraction Layer Plugin Magnific Popup
// Youtube,Vimeo,Gmap
*/




/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg 
{
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready 
{
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing 
{
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content 
{
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content 
{
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content 
{
	opacity: 0;
}






/* Abstraction Layer Plugin Magnific Popup
// endof Youtube,Vimeo,Gmap
//////////////////////////////*/










/*////////////////////////////
// Abstraction Layer Plugin Magnific Popup
// Others
*/

/*
html {
  font-family: "Calibri", "Trebuchet MS", "Helvetica", sans-serif;
}

h3 {
  margin-top: 0;
  font-size: 24px;
}

a,
a:visited {
  color: #1760BF;
  text-decoration: none;
}

a:hover {
  color: #c00;
}

.links li {
  margin-bottom: 5px;
}

h4 {
  margin: 24px 0 0 0;
}

.bottom-text {
  margin-top: 40px;
  border-top: 2px solid #CCC;
}
.bottom-text a {
  border-bottom: 1px solid #CCC;
}
.bottom-text p {
  max-width: 650px;
}
*/

/*
// Abstraction Layer Plugin Magnific Popup
// endof Others
//////////////////////////////*/










/*
// endof Dummy Abstraction Layer Plugin Magnific Popup
///////////////////////////////////////////////////////////////////*/








/*
// endof DUMMY ABSTRACTION LAYER 
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////*/













/*/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// A3XA BOOTSTRAP3 CSS 
//
*/

.a3xabs3-backgroundboo
{
	background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
	background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%); /* Firefox */
	background-image: -o-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%); /* Opera */
	/* Webkit (Safari/Chrome 10)*/
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #AACFEF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
	/* W3C */ 
	background-image: linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
	background-image: linear-gradient(90deg, #0000FF, #00FF00);

}

.a3xabs3-background1
{
	background: #202040;
	background: linear-gradient(3deg,#4080FF, #E0FFFF, #204080);
}

.a3xabs3-background2
{
	background-color: #202040;
	background: linear-gradient(138deg,rgba(255,128,128,0.3), rgba(255,255,128,0.1), rgba(128,255,128,0.3));
	/*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)*/
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 4px 6px -3px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/

}

.a3xabs3-background3
{
	background-color: #202040;
	background: linear-gradient(138deg,rgba(255,255,255,0.9), rgba(255,255,200,1), rgba(255,255,255,0.9));
	/*box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)*/
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 4px 6px -3px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/

}



/*
// endof A3XA BOOTSTRAP3 CSS
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////*/



/*/////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
// A3XA CSS ZERO 
*/

/**************************************************************
** WIDGETS
*/


/*------------------------------------------------------------
** Sprites
*/

.a3xaWGsprite-main
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-Main-6x20x24x7b.png); 
	background-repeat: no-repeat;
	background-size: 480px 144px;
	width: 24px;
	height: 24px;
	top: 0px; 
	left: 0px;
	position: absolute;
}

.a3xaWGsprite-mainSmall
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-Main-6x20x24x7b.png); 
	background-repeat: no-repeat;
	background-size: 320px 96px;
	width: 16px;
	height: 16px;
	top: 0px; 
	left: 0px;
	position: absolute;
}





.a3xaWGsprite-category
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-Category-12x10x24x7b.png); 
	background-repeat: no-repeat;
	background-size: 240px 288px;
	width: 24px;
	height: 24px;
	top: 0px; 
	left: 0px;
	position: absolute;
}

.a3xaWGsprite-countryLA
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-CountryLA-10x10x16x24x7b.png); 
	background-repeat: no-repeat;
	background-size: 240px 160px;
	width: 24px;
	height: 16px;
	top: 0px; 
	left: 0px;
	position: absolute;
}

.a3xaWGsprite-stateLA
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-StateLA-30x40x16x24x7b.png); 
	background-repeat: no-repeat;
	background-size: 960px 480px;
	width: 24px;
	height: 16px;
	top: 0px; 
	left: 0px;
	position: absolute;
}

.a3xaWGsprite-areaFlagLA
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-AreaFlagLA-10x10x16x24x7b.png); 
	background-repeat: no-repeat;
	background-size: 240px 160px;
	width: 24px;
	height: 16px;
	top: 0px; 
	left: 0px;
	position: absolute;
}

.a3xaWGsprite-areaBkgndLA
{
	background-image: url(https://res.cloudinary.com/a3xa/image/upload/v1441284514/a3xam/Sprite-AreaBkgndLA-1x100x16x7b.png); 
	background-repeat: repeat-y;
	background-size: 10000% 24px;
}




/*------------------------------------------------------------
** Sprite Icons
*/

/* 
** Common Icon
*/
.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(150%);
}

.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-dis.a3xaWGicon-highlight
{
	filter: saturate(0%) brightness(50%);
}

.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px);
}

.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%);
}

.a3xaWGicon-on
{
	filter: brightness(120%);
}

.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%);
}


.a3xaWGicon-smallbox
{
	width:16px;
	height:16px;
	position:relative;
	display:inline-block;
}


/* 
** language Icons
*/

.a3xaWGicon-langen
{
	background-position: -240px -24px; 
}

.a3xaWGicon-langes
{
	background-position: -264px -24px; 
}

.a3xaWGicon-langpt
{
	background-position: -288px -24px; 
}

.a3xaWGicon-langit
{
	background-position: -312px -24px; 
}




/* 
** topmenu Icons
*/

.a3xaWGicon-topmenuHome
{
	background-position: -96px -24px; 
}

.a3xaWGicon-topmenuHome.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(80%) brightness(80%);
}

.a3xaWGicon-topmenuHome.a3xaWGicon-on
{
	filter: brightness(150%) contrast(120%) saturate(120%);
}

.a3xaWGicon-topmenuHome.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(120%);
}

.a3xaWGicon-topmenuHome.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter:  saturate(50%) brightness(170%);
}




.a3xaWGicon-topmenuLA
{
	background-position: -120px -24px; 
}

.a3xaWGicon-topmenuLA.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(80%) brightness(80%);
}

.a3xaWGicon-topmenuLA.a3xaWGicon-on
{
	filter: brightness(150%) contrast(120%) saturate(120%);
}

.a3xaWGicon-topmenuLA.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(120%);
}

.a3xaWGicon-topmenuLA.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter:  saturate(50%) brightness(170%);
}




.a3xaWGicon-topmenuYB
{
	background-position: -144px -24px; 
}

.a3xaWGicon-topmenuYB.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(80%) brightness(80%);
}

.a3xaWGicon-topmenuYB.a3xaWGicon-on
{
	filter: brightness(150%) contrast(120%) saturate(120%);
}

.a3xaWGicon-topmenuYB.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(120%);
}

.a3xaWGicon-topmenuYB.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter:  saturate(50%) brightness(170%);
}




.a3xaWGicon-topmenuD3
{
	background-position: -168px -24px; 
}

.a3xaWGicon-topmenuD3.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(80%) brightness(80%);
}

.a3xaWGicon-topmenuD3.a3xaWGicon-on
{
	filter: brightness(150%) contrast(120%) saturate(120%);
}

.a3xaWGicon-topmenuD3.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(120%);
}

.a3xaWGicon-topmenuD3.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter:  saturate(50%) brightness(170%);
}






/* 
** Turbo
*/

.a3xaWGicon-turbo
{
	background-position: 0px 0px; 
}

.a3xaWGicon-turbo.a3xaWGicon-on
{
	background-position: 0px -24px; 
}

/* 
** GLMore
*/


.a3xaWGicon-glmore
{
	background-position: -24px 0px; 
}

.a3xaWGicon-glmore.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(120%) brightness(80%);
}

.a3xaWGicon-glmore.a3xaWGicon-on
{
	filter: hue-rotate(130deg) invert(100%) brightness(120%);
}

.a3xaWGicon-glmore.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(130%);
}

.a3xaWGicon-glmore.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: hue-rotate(130deg) invert(100%) saturate(50%) brightness(170%);
}

/* 
** BatchJDB
*/

.a3xaWGicon-batchJDB
{
	background-position: -216px -96px; 
}



/* 
** playBarRun
*/

.a3xaWGicon-playBarRun
{
	background-position: -240px -96px; 
}



/* 
** playBarPause
*/

.a3xaWGicon-playBarPause
{
	background-position: -264px -96px; 
}



/* 
** playBarStop
*/

.a3xaWGicon-playBarStop
{
	background-position: -288px -96px; 
}






/* 
** like
*/

.a3xaWGicon-like
{
	background-position: -48px 0px; 
}



/* 
** googlemap
*/

.a3xaWGicon-googlemap
{
	background-position: -72px -24px; 
}



/* 
** staticMap LA,Area,Region
*/

.a3xaWGicon-staticMapLA
{
	background-position: -72px 0px; 
	filter: hue-rotate(240deg);
}

.a3xaWGicon-staticMapLA.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-staticMapLA.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(200%) brightness(60%) contrast(200%) hue-rotate(240deg);
}

.a3xaWGicon-staticMapLA.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(240deg);
}

.a3xaWGicon-staticMapLA.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(80%) contrast(200%) hue-rotate(240deg);
}

.a3xaWGicon-staticMapLA.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: brightness(170%) hue-rotate(240deg) saturate(50%) contrast(200%);
}




.a3xaWGicon-staticMapArea
{
	background-position: -72px 0px; 
	filter: hue-rotate(60deg);
}

.a3xaWGicon-staticMapArea.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-staticMapArea.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(200%) brightness(60%) contrast(200%) hue-rotate(60deg)
}

.a3xaWGicon-staticMapArea.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(60deg);
}

.a3xaWGicon-staticMapArea.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(80%) contrast(200%) hue-rotate(60deg);
}

.a3xaWGicon-staticMapArea.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: brightness(170%) hue-rotate(60deg) saturate(50%) contrast(200%);
}







.a3xaWGicon-staticMapRegion
{
	background-position: -72px 0px; 
	filter: hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegion.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-staticMapRegion.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(200%) brightness(60%) contrast(200%) hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegion.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegion.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(80%) contrast(200%) hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegion.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: brightness(170%) hue-rotate(120deg) saturate(50%) contrast(200%);
}


/* 
** staticMap SMALL LA,Area,Region 
*/

.a3xaWGicon-staticMapLASmall
{
	background-position: -48px 0px; 
	filter: hue-rotate(240deg);
}

.a3xaWGicon-staticMapLASmall.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-staticMapLASmall.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(200%) brightness(60%) contrast(200%) hue-rotate(240deg);
}

.a3xaWGicon-staticMapLASmall.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(240deg);
}

.a3xaWGicon-staticMapLASmall.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(80%) contrast(200%) hue-rotate(240deg);
}

.a3xaWGicon-staticMapLASmall.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: brightness(170%) hue-rotate(240deg) saturate(50%) contrast(200%);
}


.a3xaWGicon-staticMapAreaSmall
{
	background-position: -48px 0px; 
	filter: hue-rotate(60deg);
}

.a3xaWGicon-staticMapAreaSmall.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-staticMapAreaSmall.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(200%) brightness(60%) contrast(200%) hue-rotate(60deg);
}

.a3xaWGicon-staticMapAreaSmall.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(60deg);
}

.a3xaWGicon-staticMapAreaSmall.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(80%) contrast(200%) hue-rotate(60deg);
}

.a3xaWGicon-staticMapAreaSmall.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: brightness(170%) hue-rotate(60deg) saturate(50%) contrast(200%);
}







.a3xaWGicon-staticMapRegionSmall
{
	background-position: -48px 0px; 
	filter: hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegionSmall.a3xaWGicon-dis
{
	filter: saturate(0%);
}

.a3xaWGicon-staticMapRegionSmall.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(200%) brightness(60%) contrast(200%) hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegionSmall.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegionSmall.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(80%) contrast(200%) hue-rotate(120deg);
}

.a3xaWGicon-staticMapRegionSmall.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: brightness(170%) hue-rotate(120deg) saturate(50%) contrast(200%);
}




/* 
** Rank icons
*/


.a3xaWGicon-rankT10Diamond
{
	background-position: -96px 0px; 
}

.a3xaWGicon-rankT10Diamond.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px);
}

.a3xaWGicon-rankT10Diamond.a3xaWGicon-on
{
	filter: brightness(120%);
}

.a3xaWGicon-rankT10Diamond.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%);
}

.a3xaWGicon-rankT10Diamond.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%);
}




.a3xaWGicon-rankT10Gold
{
	background-position: -120px 0px; 
}

.a3xaWGicon-rankT10Gold.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px);
}

.a3xaWGicon-rankT10Gold.a3xaWGicon-on
{
	filter: brightness(120%);
}

.a3xaWGicon-rankT10Gold.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%);
}

.a3xaWGicon-rankT10Gold.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%);
}





.a3xaWGicon-rankT10Silver
{
	background-position: -120px 0px; 
	filter: hue-rotate(130deg);
}

.a3xaWGicon-rankT10Silver.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) hue-rotate(130deg);
}

.a3xaWGicon-rankT10Silver.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(130deg);
}

.a3xaWGicon-rankT10Silver.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%) hue-rotate(130deg);
}

.a3xaWGicon-rankT10Silver.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%) hue-rotate(130deg);
}






.a3xaWGicon-rankT10Bronze
{
	background-position: -120px 0px; 
	filter: hue-rotate(300deg);
}

.a3xaWGicon-rankT10Bronze.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) hue-rotate(300deg);
}

.a3xaWGicon-rankT10Bronze.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(300deg);
}

.a3xaWGicon-rankT10Bronze.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%) hue-rotate(300deg);
}

.a3xaWGicon-rankT10Bronze.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%) hue-rotate(300deg);
}






.a3xaWGicon-rankT10Iron
{
	background-position: -120px 0px; 
	filter: hue-rotate(240deg);
}

.a3xaWGicon-rankT10Iron.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) hue-rotate(240deg);
}

.a3xaWGicon-rankT10Iron.a3xaWGicon-on
{
	filter: brightness(120%) hue-rotate(240deg);
}

.a3xaWGicon-rankT10Iron.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%) hue-rotate(240deg);
}

.a3xaWGicon-rankT10Iron.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%) hue-rotate(240deg);
}





/*
** Rank Beer
*/

.a3xaWGicon-rankList
{
	background-position: -144px 0px; 
}

.a3xaWGicon-rankList.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px);
}

.a3xaWGicon-rankList.a3xaWGicon-on
{
	filter: brightness(120%);
}

.a3xaWGicon-rankList.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%);
}

.a3xaWGicon-rankList.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%);
}








/*
** orderbyLatest
*/

.a3xaWGicon-orderbyLatest
{
	background-position: -168px 0px; 
}

.a3xaWGicon-orderbyLatest.a3xaWGicon-off
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px);
}

.a3xaWGicon-orderbyLatest.a3xaWGicon-on
{
	filter: brightness(120%);
}

.a3xaWGicon-orderbyLatest.a3xaWGicon-off.a3xaWGicon-highlight
{
	filter: drop-shadow(rgb(32, 32, 32) 2px 2px 0px) saturate(50%) brightness(150%);
}

.a3xaWGicon-orderbyLatest.a3xaWGicon-on.a3xaWGicon-highlight
{
	filter: saturate(50%) brightness(170%);
}






/*
** flash icons
*/
.a3xaWGicon-xtraYellow
{
	background-position: -192px 0px; 
	pointer-events: none;
}

.a3xaWGicon-xtraup
{
	background-position: -240px 0px; 
	pointer-events: none;
}

.a3xaWGicon-xtradown
{
	background-position: -264x 0px; 
	pointer-events: none;
}

.a3xaWGicon-flashYellowStar
{
	background-position: -216px 0px; 
	pointer-events: none;
}

.a3xaWGicon-flashWhiteStar
{
	background-position: -216px 0px; 
	filter: brightness(200%) saturate(20%) contrast(200%) ;
	pointer-events: none;
}


.a3xaWGicon-flashCyanStar
{
	background-position: -216px 0px; 
	filter: hue-rotate(130deg);
	pointer-events: none;
}

.a3xaWGicon-flashGreenStar
{
	background-position: -216px 0px; 
	filter: hue-rotate(60deg);
	pointer-events: none;
}

.a3xaWGicon-flashRedStar
{
	background-position: -216px 0px; 
	filter: hue-rotate(300deg) brightness(70%) saturate(200%);
	pointer-events: none;
}




/* 
** headerbar and info single status Icons
*/

.a3xaWGicon-ssfbpage {background-position: 0px -48px; }
.a3xaWGicon-ssfbgroup {background-position: -24px -48px; }
.a3xaWGicon-ssfbuser {background-position: -48px -48px; }
.a3xaWGicon-sstwitter {background-position: -72px -48px; }
.a3xaWGicon-ssgplus {background-position: -96px -48px; }
.a3xaWGicon-sspinterest {background-position: -120px -48px; }
.a3xaWGicon-ssvideo {background-position: -144px -48px; }
.a3xaWGicon-ssvideourl {background-position: -172px -48px; }
.a3xaWGicon-ssflickr {background-position: -192px -48px; }
.a3xaWGicon-ssflickrtxt {background-position: -192px -48px; }
.a3xaWGicon-sssitemap {background-position: -216px -48px; }
.a3xaWGicon-sswikipedia {background-position: 0px -72px; }
.a3xaWGicon-sswikiphoneprefix {background-position: -24px -72px; }
.a3xaWGicon-sswikitravel {background-position: -48px -72px; }
.a3xaWGicon-ssskype {background-position: -72px -72px; }
.a3xaWGicon-ssskypetxt {background-position: -72px -72px; }
.a3xaWGicon-ssurl {background-position: -96px -72px; }
.a3xaWGicon-ssemail {background-position: -120px -72px; }
.a3xaWGicon-ssphone {background-position: -144px -72px; }
.a3xaWGicon-ssa3xagallery {background-position: -168px -72px; }
.a3xaWGicon-ssperson {background-position: -192px -72px; }
.a3xaWGicon-sswcurl {background-position: -216px -72px; }

.a3xaWGicon-ssviewentity {background-position: -48px -24px; }





/* 
** edit Icons
*/

.a3xaWGicon-editNewentity
{
	background-position: 0px -96px; 
}


.a3xaWGicon-editNewsubentity
{
	background-position: -24px -96px; 
}




.a3xaWGicon-editEntity
{
	background-position: -48px -96px; 
}




.a3xaWGicon-editDelentity
{
	background-position: -96px -96px; 
}




.a3xaWGicon-editNewentityinfo
{
	background-position: 0px -120px; 
}




.a3xaWGicon-editEntityinfo
{
	background-position: -48px -120px; 
}




.a3xaWGicon-editDelentityinfo
{
	background-position: -96px -120px; 
}









/* 
** category Icons
*/



.a3xaWGicon-catEnterprise
{
	background-position: -24px -144px; 
}




.a3xaWGicon-catArea
{
	background-position: -24px -168px; 
}



.a3xaWGicon-catRegion
{
	background-position: -48px -168px; 
}



.a3xaWGicon-catCity
{
	background-position: -168px -168px; 
}



.a3xaWGicon-catCountry
{
	background-position: -24px -192px; 
}



.a3xaWGicon-catState
{
	background-position: -48px -192px; 
}



.a3xaWGicon-cat
{
	background-position: -px -px; 
}



.a3xaWGicon-cat
{
	background-position: -px -px; 
}




/*
** endof Sprite Icons
-------------------------------------------------------------*/


/*
** endof WIDGETS
**************************************************************/





/**************************************************************
** A3XAHEADER
**
**	
*/

.a3xaVWheader-fbpluglikeframe
{
	display:inline-block;
	vertical-align:top;
}


.a3xaVWheader-fbpluglike
{
	border:none; 
	overflow:hidden; 
	width:300px; 
	height:40px;
}


/*
** endof A3XAHEADER
**************************************************************/




/**************************************************************
** A3XATABLEMAIN
**
**	directory list
*/

/*------------------------------------------------------------
**	Frame
*/
.a3xaVWdir-frame
{
	border-width: 0px; 
	border-style: solid;
}

.a3xaVWdir-frameRowH
{
	float:none; 
/*		height:none;  */ 
}

.a3xaVWdir-frameRowB
{
	float:none; 
/*	height:none; */ 
}

.a3xaVWdir-visible
{
	visibility: visible;
}

.a3xaVWdir-visible2
{
	visibility: visible;
	position:relative;
/*	left:none; */ 
/*	top:none; */ 
}

.a3xaVWdir-hidden
{
	visibility: hidden; 
	position:absolute; 
	left:0px; 
	top:0px;
}

.a3xaVWdir-cellHidden
{
	width: 0px; 
	display: none;
}

/*
** Cells Header
*/

.a3xaVWdir-cellH01
{
	width: 100px; 
	padding: 1px; 
	text-align: right; 
}

.a3xaVWdir-cellH02
{
	width: 30px; 
	padding: 1px;
}

.a3xaVWdir-cellH03
{
	width: 110px; 
	padding: 1px; 
}

.a3xaVWdir-cellH04
{
	width: 210px; 
	padding: 1px; 
}

.a3xaVWdir-cellH05
{
	padding: 1px;
}

.a3xaVWdir-cellH06
{
	width: 0px; 
	display: none;
}

.a3xaVWdir-cellH07
{
	width: 0px; 
	display: none;
}

.a3xaVWdir-cellH08
{
	width: 0px; 
	display: none;
}

.a3xaVWdir-cellH09
{
	width: 0px;  
	display: none;
}



/*
** Cells Body
*/

.a3xaVWdir-cellB01
{
	width: 100px; 
	padding: 1px; 
	text-align: right; 
	vertical-align: top; 
	float: none; 
	background-color: rgb(255, 255, 255);
}

.a3xaVWdir-cellB02
{
	width: 30px; 
	padding: 1px;
	vertical-align: top; 
	float: none; 
	background-color: rgb(255, 255, 255);
}

.a3xaVWdir-cellB03
{
	width: 110px; 
	padding: 1px; 
	vertical-align: top; 
	float: none; 
	background-color: rgb(255, 255, 255);
}

.a3xaVWdir-cellB04
{
	width: 210px; 
	padding: 1px; 
	vertical-align: top; 
	float: none; 
	background-color: rgb(255, 255, 255);
}

.a3xaVWdir-cellB05
{
	padding: 1px;
	vertical-align: top; 
	float: none; 
	background-color: rgb(255, 255, 255);
}

.a3xaVWdir-cellB06
{
	width: 0px; 
	display: none;
}

.a3xaVWdir-cellB07
{
	width: 0px; 
	display: none;
}

.a3xaVWdir-cellB08
{
	width: 0px; 
	display: none;
}

.a3xaVWdir-cellB09
{
	width: 0px;  
	display: none;
}

/*
** endof Frame
------------------------------------------------------------*/


/*------------------------------------------------------------
**	Content
*/

.a3xaVWdir-boxIdentityH
{
	color: #8080F0; 
	text-shadow: 1px 1px 0px #000000;
}

.a3xaVWdir-boxInfoH
{
	color: #C0C080;
	text-shadow: 1px 1px 0px #000000;
}




/*
** endof Content 
------------------------------------------------------------*/



/*
** endof A3XATABLEMAIN
**************************************************************/


/*
// endof A3XA CSS ZERO 
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////*/
