
/
.cssA3xaIconShadow {border: 0; width:24px; height:24px; box-shadow: 1px 1px 0px #404040;}
.cssA3xaIcon {border: 0; width:24px; height:24px }
.cssA3xaIcon2Shadow {border: 0;  width:24px; height:16px; box-shadow: 1px 1px 0px #404040;}
.cssA3xaIcon2 {border: 0; width:24px; height:16px }


